<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="x11run.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <x11run.Properties.Settings>
            <setting name="mode" serializeAs="String">
                <!-- wsl: support WSL and WSL2 on Windows 10 -->
                <!-- ssh: support all Linux container and remote Linux machine -->
                <value>wsl</value>
            </setting>
            <setting name="ssh_ip" serializeAs="String">
                <!-- ssh only, ip address of Linux container -->
                <value>192.168.56.3</value>
            </setting>
            <setting name="ssh_port" serializeAs="String">
                <!-- ssh only, ssh port of Linux container -->
              <value>22</value>
            </setting>
            <setting name="ssh_user" serializeAs="String">
                <!-- ssh only, username to run X11 program of Linux container -->
                <value>root</value>
            </setting>
            <setting name="ssh_password" serializeAs="String">
                <!-- ssh only, password of the above user -->
                <value>password</value>
            </setting>
            <setting name="xserver_ip" serializeAs="String">
                <!-- xserver ip address, WSL or Linux container can access or ping that ip -->
                <value>127.0.0.1</value>
            </setting>
            <setting name="xserver_port" serializeAs="String">
                <!-- xserver port, default 0.0 -->
                <value>0.0</value>
            </setting>
        </x11run.Properties.Settings>
    </userSettings>
</configuration>